<section id="inicio">
    <h2 class="ms-3 mt-4"><strong>Destacados</strong></h2>

    <div id="listaDestacados">
        <div id="modelos">
            <button class="carousel-control-prev control-prev-dest" type="button" data-bs-target="#carouselModelosDestacados" data-bs-slide="prev" style="background: transparent; border: none; place-self: center;">
            <i class=" fas fa-chevron-left "></i>
            <span class="visually-hidden ">Previous</span>
            </button>
            <div class="carousel-inner" id="inner-dest">
                <!-- Tarjetas -->
                <div class="carousel-item item-dest" *ngFor="let escena of escenasDes, index as i">
                    <app-tarjeta-modelo-index-destacados uidModelo={{escena.uid}}></app-tarjeta-modelo-index-destacados>
                </div>
            </div>

            <!-- Botones spinner -->

            <button class="carousel-control-next control-next-dest" type="button" data-bs-target="#carouselModelosDestacados" data-bs-slide="next" style="background: transparent; border: none; place-self: center;">
            <i class=" fas fa-chevron-right "></i>
            <span class="visually-hidden ">Next</span>
          </button>
        </div>
    </div>
    <hr style="width: 90%; margin: auto;">
    <div id="busqueda">
      <div id="busquedaCabecera">
          <div id="busquedaCabeceraDiv">
              <div>
                  <h2><strong>{{filtro}}</strong></h2>
              </div>
              <div style="min-width: 200px;">
                  <input type="text" placeholder="Buscar" style="position: relative; height: 40px; margin-top: 10px;" (keyup)="onKeySearch($event)">
                  <i class="fa-solid fa-magnifying-glass" style="position: absolute; z-index: 100; margin-left: -35px; margin-top: 20px;"></i>
              </div>
              <div id="botonesBusqueda" class="texto"s tyle="padding-top: 10px;">
                  <button id="ocultarFiltros" (click)="filtros()">
                <span id="ocultar"  style="display: flex; display: unset; padding-top: 10px;" >
                  Ocultar Ordenar por
                  <i class="bi bi-filter-circle-fill" style="margin: 10px;"></i>
                </span>

                <i class="fa-regular fa-filter-slash"></i>

                <span id="mostrar" style="display: flex;display: none; padding-top: 10px;">
                  Mostrar Ordenar por
                  <i class="bi bi-filter-circle" style="margin: 10px;"></i>
                </span>

              </button>
                  <!--<button id="ordenar">
              <span>
                  Ordenar Por
                  <i class=" fas fa-sort " style="margin: 10px;"></i>
              </span>
            </button>-->
                  <div id="modalOrdenar" >
                      <div style="border-bottom: solid 1px #a1a1a1;" (click)="ordenar(1);">
                          <span>Más recientes</span>
                          <i class="bi bi-sort-numeric-up-alt"></i>
                      </div>
                      <div style="border-bottom: solid 1px #a1a1a1;" (click)="ordenar(2);">
                          <span>Más antiguos</span>
                          <i class="bi bi-sort-numeric-down-alt"></i>
                      </div>
                      <div style="border-bottom: solid 1px #a1a1a1;" (click)="ordenar(3);">
                          <span>Más visitas</span>
                          <i class="bi bi-sort-down"></i>
                      </div>
                      <div style="border-bottom: solid 1px #a1a1a1;" (click)="ordenar(4);">
                          <span>Menos visitas</span>
                          <i class="bi bi-sort-up"></i>
                      </div>
                      <div (click)="ordenar(5);">
                          <span>Popularidad</span>
                          <i class="bi bi-bookmark-heart"></i>
                      </div>
                  </div>
              </div>
          </div>

      </div>
      <div class="mostrar">
          <div id="filtros2" class="mt-0 px-5 pt-5">
              <div class="pb-3" style="border-bottom: solid 1px #a1a1a1; cursor: pointer;" (click)="ordenar(1);">
                  <h5 class="m-0"><i class="bi bi-caret-up-fill"></i> Más recientes</h5>
              </div>
              <div class="py-3" style="border-bottom: solid 1px #a1a1a1; cursor: pointer;" (click)="ordenar(2);">
                  <h5 class="m-0"><i class="bi bi-caret-down-fill"></i> Más antiguos</h5>
              </div>
              <div class="py-3" style="border-bottom: solid 1px #a1a1a1; cursor: pointer;" (click)="ordenar(3);">
                  <h5 class="m-0"><i class="bi bi-eye-fill"></i> Más visitas</h5>
              </div>
              <div class="py-3" style="border-bottom: solid 1px #a1a1a1; cursor: pointer;" (click)="ordenar(4);">
                  <h5 class="m-0"><i class="bi bi-eye-slash-fill"></i> Menos visitas</h5>
              </div>
              <div class="py-3" style=" cursor: pointer;" (click)="ordenar(5);">
                  <h5 class="m-0"><i class="bi bi-bookmark-fill"></i> Popularidad
                  </h5>
              </div>
          </div>
      </div>

    </div>

    <div *ngIf="this.cantidadModelos > 0; then ifModelos; else NoModelos;"></div>
    <ng-template #ifModelos>
      <div id="busquedaBody">

        <div id="resultados">
            <!-- Tarjetas -->
            <div class="tarjetas" id="{{escena.uid}}" *ngFor="let escena of escenasRec, index as i" style="display: flex; justify-content: center;">
                <app-tarjeta-modelo-index idtarjeta={{i}} [mismodelos]="escena.creadorID._id == this.uid" class="tarjeta-modelo" uidModelo={{escena.uid}}></app-tarjeta-modelo-index>
            </div>
        </div>
        <div id="filtros" class="mt-0">
            <div class="pb-3" style="border-bottom: solid 1px #a1a1a1; cursor: pointer;" (click)="ordenar(1);">
                <h5 class="m-0"><i class="bi bi-caret-up-fill"></i> Más recientes</h5>
            </div>
            <div class="py-3" style="border-bottom: solid 1px #a1a1a1; cursor: pointer;" (click)="ordenar(2);">
                <h5 class="m-0"><i class="bi bi-caret-down-fill"></i> Más antiguos</h5>
            </div>
            <div class="py-3" style="border-bottom: solid 1px #a1a1a1; cursor: pointer;" (click)="ordenar(3);">
                <h5 class="m-0"><i class="bi bi-eye-fill"></i> Más visitas</h5>
            </div>
            <div class="py-3" style="border-bottom: solid 1px #a1a1a1; cursor: pointer;" (click)="ordenar(4);">
                <h5 class="m-0"><i class="bi bi-eye-slash-fill"></i> Menos visitas</h5>
            </div>
            <div class="py-3" style=" cursor: pointer;" (click)="ordenar(5);">
                <h5 class="m-0"><i class="bi bi-bookmark-fill"></i> Popularidad
                </h5>
            </div>
        </div>
    </div>

    <div *ngIf="!usuNoRegistrado; then pagNo; else pagReg;"></div>
    <ng-template #pagReg>
      <div class="paginador mt-5 d-flex justify-content-center">
        <nav class="pagination-outer " aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <button type='button' class='btn btn-default' [disabled]="primero" (click)='modal()'>«</button>
                </li>
                <li class="page-item">
                    <button type='button' class='btn btn-default page' *ngFor="let p of paginas" (click)='modal()'>{{p+1}}</button>
                </li>
                <li class="page-item">
                    <button type='button' class='btn btn-default' [disabled]="ultimo" (click)='modal()'>»</button>
                </li>
            </ul>
        </nav>
    </div>
    </ng-template>
    <ng-template #pagNo>
      <div class="paginador mt-5 d-flex justify-content-center">
        <nav class="pagination-outer " aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <button type='button' class='btn btn-default' [disabled]="primero" (click)='menos()'>«</button>
                </li>
                <li class="page-item">
                    <button type='button' class='btn btn-default page' *ngFor="let p of paginas" (click)='pagina(p)'>{{p+1}}</button>
                </li>
                <li class="page-item">
                    <button type='button' class='btn btn-default' [disabled]="ultimo" (click)='mas()'>»</button>
                </li>
            </ul>
        </nav>
    </div>
    </ng-template>




    </ng-template>

      <ng-template #NoModelos>
        <div id="resultados">
            <p class="h5">{{mensajeErrorCantidad}}</p>
        </div>
      </ng-template>




</section>
