<footer id="footer-id" class="text-center bg-gris-footer  py-3">

    <!-- Separador -->
    <div class="container text-center text-md-start mt-3">
        <div class="row my-3">

            <!-- Grid de dos filas -->
            <div class="col ms-3 d-flex flex-column">
                <div class="mb-auto p-2 bd-highlight">
                    <a style="color:black;" routerLink="inicio" class="fs-6  text-decoration-none">
                        <h5 style="color:black;" class="fw-bold ">RoomFull</h5>
                    </a>
                </div>
                <div class="p-2">
                    <a style="color:black;" href="https://roomfull.ovh/fulloop/" class="fs-6  text-decoration-none">© 2023 FulLoop</a>
                </div>
            </div>

            <!-- Grid de tres filas -->
            <div class="col d-flex flex-column">
                <div class="p-2">
                    <a style="color:black;" href="https://roomfull.ovh/fulloop/contactanos" class="fs-6  text-decoration-none">Contáctanos</a>
                </div>
                <div class="p-2">
                    <a style="color:black;" routerLink="/landing" class="fs-6  text-decoration-none">Sobre Nosotros</a>
                </div>
                <div class="p-2">
                    <a style="color:black;" href="https://roomfull.ovh/fulloop/" class="fs-6  text-decoration-none">Página Corporativa</a>
                </div>
            </div>

            <!-- Grid de tres filas -->
            <div class="col d-flex flex-column">
                <div class="p-2">
                    <a style="color:black;" routerLink="/privacidad" class="fs-6  text-decoration-none">Política de privacidad</a>
                </div>
                <div class="p-2">
                    <a style="color:black;" routerLink="/cookies" class="fs-6  text-decoration-none">Política de cookies</a>
                </div>
                <div class="p-2">
                    <a style="color:black;" routerLink="/legal" class="fs-6  text-decoration-none">Aviso Legal</a>
                </div>
            </div>

            <!-- Grid de dos filas -->
            <div class="col d-flex flex-column">
                <div class="col d-flex justify-content-center">
                    <h5 style="color:black;" class="fw-bold text-uppercase">Síguenos en redes</h5>
                </div>
                <div class="col d-flex justify-content-around">
                    <a style="color:black;" href="https://twitter.com/fulloop_team" class="text-dark text-decoration-none"><i class="fab fa-twitter"></i></a>
                    <a style="color:black;" href="https://www.instagram.com/fulloop_team/" class="text-dark text-decoration-none"><i class="fab fa-instagram"></i></a>
                    <a style="color:black;" href="https://www.facebook.com/fulloopteam" class="text-dark text-decoration-none"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>
