h3{
    font-weight: 600;
}
/* Css de la barra de búsqueda */
#searchBarForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
  }
  
  /* Css de las filas */
  .fila-conver {
    background-color: var(--third-color);
  }
  
  
  /* Css del paginador */
  .paginador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 12vh;
  }
  
  .pagination-outer{ text-align: center; }
  
  .pagination li a.page-link{
      color: #555;
      background-color: transparent;
      font-size: 18px;
      font-weight: 500;
      line-height: 36px;
      height: 40px;
      width: 32px;
      padding: 0;
      margin: 0 8px;
      border-radius: 0;
      border: 2px solid #eee;
      overflow: hidden;
      position: relative;
      z-index: 1;
      transition: all 0.4s ease 0s;
  }
  .pagination li:first-child a.page-link,
  .pagination li:last-child a.page-link{
      font-size: 35px;
      line-height: 31px;
      font-weight: 300;
  }
  .pagination li a.page-link:hover,
  .pagination li a.page-link:focus,
  .pagination li.active a.page-link:hover,
  .pagination li.active a.page-link{
      color: #fff;
      background-color: transparent;
  }
  .pagination li a.page-link:before,
  .pagination li a.page-link:after{
      content: '';
      background-color: var(--primary-color);
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: -1;
      transition: all 0.4s ease 0s;
  }
  .pagination li a.page-link:after{
      background-color: var(--primary-color);
      transition: all 0.4s ease 0.1s;
  }
  .pagination li a.page-link:hover:before,
  .pagination li a.page-link:focus:before,
  .pagination li.active a.page-link:hover:before,
  .pagination li.active a.page-link:before{
      top: -100%;
  }
  .pagination li a.page-link:hover:after,
  .pagination li a.page-link:focus:after,
  .pagination li.active a.page-link:hover:after,
  .pagination li.active a.page-link:after{
      top: 0;
  }
  
  @media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 10px 0;
    }
  }

.redondo{
    font-size: 70px; 
    font-weight: 700; 
    background-color: white; 
    border-radius: 100px;
}
  

.rounded-25 {
    border-radius: 17px;
  }
  
  .bg-gris-claro{
    background-color: var(--third-color);
  }
  
  .btn-google {
    background-color: var(--divider-color);
  }
  
  .btn-seleccionar{
    background-color: var(--divider-color);
  }
  
  .profile-pic{
    background-color: var(--divider-color);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 2px;
    background: #a4a4a4;
  }
  
  .vertical-center {
    vertical-align: middle;
  }