<div class="ps-5 pt-4 pe-5 pb-4"  id="content" data-page="discusiones">

  <div class="row d-flex">
    <!-- <div class="col-6"> -->
        <!-- <h1 class="fw-bold mt-3">Conversaciones</h1> -->
    <!-- </div> -->
    <div class="col-6 pe-0">
        <div _ngcontent-lbf-c90="" class="flex-grow-0 py-3 px-2 chat-color">
            <div _ngcontent-lbf-c90="" _ngcontent-evc-c87="" class="input-group mb-3">
                <input _ngcontent-lbf-c90="" _ngcontent-evc-c87="" type="text" id="contenidoBusqueda" placeholder="Buscar..." class="form-control" (keyup)="onKeySearch($event)" [(ngModel)]="this.textoBusqueda">
                <div _ngcontent-lbf-c90="" _ngcontent-evc-c87="" class="input-group-append">
                    <a _ngcontent-lbf-c90="" _ngcontent-evc-c87="" routerLink="/admin/administracion/conversaciones" type="submit" class="btn btn-light" style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-top-left-radius: 0; border-bottom-left-radius: 0;">
                        <i _ngcontent-lbf-c90="" _ngcontent-evc-c87="" class="fas fa-search"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="row">

      <div *ngIf="this.hayMensajes; then mostrarChat; else mostrarVacio" >
      </div>
      <ng-template #mostrarVacio >
        <div style="margin-top:50px; display:flex; align-items:center;">
          <p style="margin: 0 auto;">No hay conversaciones que mostrar</p>
        </div>
      </ng-template>
      <ng-template #mostrarChat>
        <div class="col-lg-12">
          <div class="main-box clearfix">
              <div class="table-responsive">
                  <table class="table user-list">
                      <thead>
                          <tr>
                              <th class="text-center"><strong>Asunto</strong></th>
                              <th class="text-center"><strong>Usuario emisor</strong></th>
                              <th class="text-center"><strong>Usuario receptor</strong></th>
                              <th class="text-center"><strong>Opciones</strong></th>
                              <th class="text-center">
                                <input type="checkbox" class="hidden" name="cb" id="cb" (change)="seleccionarTodo($event)" >
                                <label for="cb">Seleccionar todos</label>

                                <div *ngIf="this.estaVacio; then noMostrar; else mostrar" >
                                </div>
                                <ng-template #noMostrar >
                                </ng-template>
                                <ng-template #mostrar >
                                  <button type="button" (click)="MostrarModalesEliminar()"class=" ms-2 btn border-0 px-0 py-0">
                                    <i class="fa-solid fa-trash"></i>
                                  </button>
                                </ng-template>


                              </th>


                          </tr>
                      </thead>
                      <tbody>

                          <tr *ngFor="let chat of chatList">
                              <td class="text-center">
                                  <h6><a routerLink="/admin/administracion/discusiones/{{chat.uid}}" style="text-decoration: none;">{{chat.asunto}}</a></h6>
                              </td>
                              <td class="text-center">
                                <a class="text-decoration-none text-dark" routerLink="/user/modelo/{{chat.nombreEmisor}}">{{chat.nombreEmisor}}</a>
                              </td>
                              <td class="text-center">
                                <a class="text-decoration-none text-dark" routerLink="/user/modelo/{{chat.nombreReceptor}}">{{chat.nombreReceptor}}</a>
                              </td>
                              <td style="width: 20%;" class="text-center">


                                <a class="table-link" routerLink="/admin/administracion/discusiones/{{chat.uid}}" >
                                  <span class="fa-stack">
                                    <i class="fa fa-square fa-stack-2x"></i>
                                    <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                                  </span>
                                </a>

                                  <!-- <div *ngIf="chat.idUsuarioEmi == this.uid || chat.idUsuarioRec == this.uid; then ifEnviar2; else ifNoEnviar2" >
                                  </div>
                                  <ng-template #ifEnviar2>
                                    <a routerLink="/admin/administracion/editar-discusiones/{{chat.uid}}" class="table-link">
                                    <span class="fa-stack">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                    </a>
                                  </ng-template>
                                  <ng-template #ifNoEnviar2>
                                  </ng-template> -->



                                  <button type="button" (click)="MostrarModalEliminar(chat.uid)" class="table-link btn border-0 px-0 py-0">
                                    <span class="fa-stack ">
                                      <i class="fa fa-square fa-stack-2x"></i>
                                      <i class="fa fa-trash fa-stack-1x fa-inverse"></i>
                                    </span>
                                </button>

                              </td>


                              <td class="text-center">
                                  <input type="checkbox" class="check" (change)="getChatId($event, chat.uid)"   [checked]="chat.checked"/>
                              </td>

                          </tr>
                      </tbody>
                  </table>
              </div>


              <div *ngIf="this.hayMensajes; then mostrarPag;" >
              </div>
              <ng-template #mostrarPag >

                <div class="paginador mt-5 d-flex justify-content-center">
                  <nav class="pagination-outer " aria-label="Page navigation">
                      <ul class="pagination">
                          <li class="page-item">
                              <button type='button' class='btn btn-default' [disabled]="primero" (click)='menos()'>«</button>
                          </li>
                          <li class="page-item">
                              <button type='button' class='btn btn-default page' *ngFor="let p of paginas" (click)='pagina(p)'>{{p+1}}</button>
                          </li>
                          <li class="page-item">
                              <button type='button' class='btn btn-default' [disabled]="ultimo" (click)='mas()'>»</button>
                          </li>
                      </ul>
                  </nav>
              </div>

              </ng-template>

          </div>
        </div>
      </ng-template>

    </div>




        <div class="ModalContainer ">
            <div class="mensajemodal ">
                <h4>¿Desea eliminar esta conversación?</h4>
                <p class="text-center"> Esta opción es irreversible</p>
                <div>
                    <button type="button " (click)="eliminarConver(); " class="btn btn-success ">Aceptar</button>
                    <button type="button " (click)="EsconderModalEliminar(); " class="btn btn-danger ">Cancelar</button>
                </div>
            </div>
          </div>

          <div class="ModalContainer2 ">
            <div class="mensajemodal2 ">
                <h4>¿Desea eliminar las conversaciones seleccionadas?</h4>
                <h5 class="text-center">TOTAL: {{itemsSelector.length}}</h5>
                <p class="text-center"> Esta opción es irreversible</p>
                <div>
                    <button type="button " (click)="eliminarTodos(); " class="btn btn-success ">Aceptar</button>
                    <button type="button " (click)="EsconderModalEliminar2(); " class="btn btn-danger ">Cancelar</button>
                </div>
            </div>
          </div>


</div>
